@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');
:root{
    --color-font-cancel:  rgb(3, 80, 111);
    --color-link:rgb(91, 99, 183,0.7);
    --color-list:rgb(205, 246, 255,1);
    --color-div-notifications:rgb(222, 235, 225,1);
    --color-font-edit:rgb(109, 166, 148);
    --delete-color-font: rgb(104, 60, 88);
    --font-type:'Merriweather Sans', sans-serif;
    --border_: 1px solid rgba(0,0,0,.125);
    --color_form: rgb(249, 250, 250,.9);
    --color-card-product: rgb(205, 246, 255,.3);
    --color-font-confirm: rgb(249, 250, 250);
}   

/* Global styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-type);
    font-weight: 400;
    letter-spacing: 0.1em;
}
.contenido3__icono{
    pointer-events: none;
}

.notifications{
    display:none;
}

.btn-ok-modal{
    background: rgb(103, 189, 246);
    color: var(--color_form);
    box-shadow: 0 8px 6px -6px #9baebc;
}

.edit_btn_dimensions{
    width: 30%;
    height: 30%;
}

.header{
    color:#f9fafa
}

#clearStorage{
    display:flex;
    justify-content: center;
    align-items: center;
}

.boxtitle{
    color: var(--color-font-confirm);
    font-weight: 700;
}

.form_note{
    width:100%;
}

.form-control{
    border-color: #dc3545;
    border-style: solid;
    border-width: 0 0 2px 0;

}

.form-select:invalid{
    border-style: solid;
    border-width: 0 0 2px 0;
}
.form-control:valid{
    border-style: solid;
    border-width: 0 0 2px 0;
}

.form-select:valid{
    border-style: solid;
    border-width: 0 0 2px 0;
}

.modal-backdrop{
    display: none;
}

.buttons{
    width:60%;
    height:10%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.modal-content-edit{
    display: flex;
    flex-direction: column;
    background:var(--color_form);
    color: var(--color-main);
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

    /* buttons cards product */

    .btn_edit{
        background-color: rgb(112, 112, 112);
        box-shadow: 0 8px 6px -6px #9baebc;
        color: var(--color-font-confirm);
        width: 34%;
        height: 100%;
        border-radius: 10%;    
    }
    .btn_delete{
        background-color:#dc3545;
        color: var(--color-font-confirm);
        width: 34%;
        height: 100%;
        border-radius: 10%;    
        box-shadow: 0 8px 6px -6px #9baebc;
    }

    .btn_edit, .btn_delete{
        justify-content: center;
        align-items: center;
    }
    .buttons{
        width: 100%;

    }
    /*****----****/



.style_form_edit{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width:100%;
}

.foward_UIlist_to_UImain{
    display: flex;
    width:92%;
    height:20%;
}
.foward_uiList_to_uiMain___btn{
    width: 5%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none
}

.modal-body{
color: var(--color-main);
}

.form_desktop{
    display:none;
}

.content_icon_logOut{
    display:none;
}

.section_contenido1{
    display:none;
    width: 50%;
    height: 40vh;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}

.style_form_dektop___content_buttons{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.options_list{
    flex-direction: column;
    padding:10%;
    width:27rem;
    height:30%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    
}

/**************** Fade out at notification ************/

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
    }
    @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
    } 

/*******************-------- ************/
.welcomeUser{
    width: 13rem;
    display: flex;
    height: 35%;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}

.header{
    height: 12vh;
}

.style_btns{

    width: 20%;
    height: 85%;
    border-radius: 2%;
}

body {
    background: rgb(158, 213, 250); 
    filter: brightness(1) /* fallback for old browsers */
    }
    

.ul_list_products{
    margin-top: 5%;
    position: absolute;
    overflow:hidden; 
    overflow-y:scroll;
    width: 67%;
}

.content_basket{
    display:flex;
    width: 15%;
    height: 10%;
    align-items: flex-end;
    justify-content: center;
    position: absolute;

}

.mainSection{
    width: 100vw;
    height: 88vh;
}

.basquet_trash{
    width: 81%;
}

.btn1_login{
    width: 25%;
}


.section_contenido1{
    display:none;
    width: 100%;
    height: 67vh;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}

.text_direction_start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.btn-close-modal{
    background: rgb(249, 250, 250);
    box-shadow: 0 8px 6px -6px #9baebc;
    color: var(--color-font-cancel)

}


.eye, .basquet_trash{
    height:8vh;
}



.form_ui_desktop{
    display: none;
}
.btn-primary{
    background: rgb(10,4,60);
    background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);        
    box-shadow: 0 8px 6px -6px black;
}


.save_ok{
    color: rgb(0, 128, 0, 0.7);
    font-weight: bold;
    font-size: 1.2rem;
}

.delete_ok{
    color: var(--delete-color-font);
    font-weight: bold;
    font-size: 100%;
}

.edit_ok{
    color: rgb(3, 80, 111);
    font-weight: bold;
    font-size: 100%;
}
.notsave{
    color:red;
}

#notification_delete_data{
    display: none;
}
.section_contenido1{
    display:none;
    width: 50%;
    height: 40vh;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
}
    .content1 {
        width: 100%;
        height: 73%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .contenedor{
    width: 30%;
    height:35%;
    position: absolute;
    order: 3;
    flex: 0 1 auto;
    align-self:flex-end;
    right:0;
    bottom:0;
    margin-right: 5px;
    margin-bottom: 5px;
}

#btncarga1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 35px;
    position: absolute;
    border: none;
    right: 0;
    bottom: 0;
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_login_style {
    display: flex;
    width:100%;
    height:100%;
    }

    .form_login{
        display: flex;
        width:100%;
        height:100%; 
        justify-content: center;
        align-items: center;
    }

.content_input_style{
    width: 70%;
}

p{
    font-size:1.5em;
}

.log_out_user___icon{
    height:5.9vh;
}

            
.contenido3{
    display:none;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2%;   
}


/************ Modal styles  ****/
.modal-body-style, .modal-header, .modal-footer {
    background: var(--color_form);
    color: var(--color-main);
    width: 100%;
}
    
/*******************************/


    .btns-options{
        display:flex;
        width:80%;
        height:99%;
        justify-content:space-around;
        align-items: center;
        margin-top:7%;
    }


    .sectionNameUser, .link_list{
            width: 80%;
            display: flex;
            justify-content: center;
            height: 50%;
            align-items: flex-start;
    }

/************ Mobile *******/

@media only screen and (max-width: 576px) and (orientation: portrait){


    .options_list{
        width: 100%;
        padding: 0;
    }
    
    .buttons{
        height: 13%;
    }

    .mainSection{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
    }
  


    li{
        margin: 0 0 3% 0;
    }

    a{
        text-decoration: none;
        color: var(--color-link);
    }

    .link_list{
        margin: 10% 0 0 0;
        font-size: 140%;
    }

     .btn_options {
        width: 60%;
        height:70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
    }
    .arrow{
       color: var(--color-font);
    }

    .link_list{
        display:none;
    }

        
        .buttons___child{
            display:flex;
            flex-direction: row;
            width: 40%;
            height:20%;
        }

        .buttons{
            width: 89%;
            height: 16vh;
            flex-direction: row;
            justify-content: center;
            gap: 22%;
            align-items: center;
        }
        .btn_edit, .btn_delete{
            width: 35%;
            height: 42%;
        }
        


        .inputs{
            display:none;
        }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
        color: var(--color-font);
        width: 100%;
    }   

    .boxtitle{
        width: 900px;
        text-align: center;
        padding: 5px;
        order: 0;
        flex: 0 1 auto;
        align-self: center;
    }

    p{
        color: var(--color-main);
        font-size: 30px;
        text-align: center;

    }
    .list_products{
        background-color: var(--color-list);
        color: var(--color-font);
        filter: drop-shadow(6px 5px 7px #000);
        margin: 0 0 7.5% 0;
        height: 15%;
        width: 96%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}


    .ul_list_products{
        margin-top: 5%;
        position: absolute;
        overflow:hidden; 
        overflow-y:scroll;
        width: 70%;
        height: 83%;
        display: flex;
        align-items: center;
        top:6%
    }



    .subtitulo{
        order: 1;
        flex: 0 1 auto;
        align-self: center;
        padding: 10px;
    
    }
    .img{
        order: 2;
        flex: 0 1 auto;
        align-self:center;
    }      
    .contenedor{
        display:flex;
        width: 200px;
        height:200px;
        position: absolute;
        order: 3;
        flex: 0 1 auto;
        align-self:flex-end;
        right:0;
        bottom:0;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    
    #btncarga1{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 35px;
        position: absolute;
        border: none;
        right:0;
        bottom:0;
        box-shadow:     12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
            -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;}

        
    #forwardButton{
        width:13%;
        height:40%;
        margin: 3% 0 0 0;
        }    


.modal-backdrop.show{
    display:none;
}



    .modal-footer{
        background: rgb(218, 243, 238);
    }
    .form-control2{
        width:100%;
    }

    #detalle{
        border-radius: 5px;
            padding: 0;

    }

    .content_forwardButtonToListUi{
        width: 11%;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: flex-start;
        position: relative;
        right: 36%;}

    #forwardButtonToListUi{
        width:18%;
        height:40%;

    }

    .contenido4{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 81%;
        height: 81%;
        padding: 0;
        margin-top: 0;
        font-size: 100%;       
        }


    .card_product{
        width: 96%;
        height: 63%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .form_desktop{
        display:none;
    }


/* *********************** */

    li{
    color: var(--color-3);
    font-size: 25px;
    text-align: left;
    }

    .contenido3__icono{
    width: 30%;
    margin-right: 8%;
    max-width:26%;
    
    }

    .content_data_notes{
        width: 50%;
        height:50%;
    }



    #subtitulofinal{
        color: var(--color-main)
    }


    .contenido4__icono{
    width: 150px;
    }

    .desktop, .contenido4{
    display: none;
    
    }
       /*****Notifications*******/
    
    .edit_color_font{
        color: var(--color-font-edit)
    }

    .notifications{
        
        position: relative;
        width: 60%;
        height: 10vh;
        justify-content: center;
        align-items: flex-start;
        top: -3%;
    }
 
    
    .content_notification{
        display: flex;
        background-color: var(--color-div-notifications);
        width: 74%;
        height: 100%;
        border-radius: 5%;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 10px 8px -5px rgba(0,0,0,0.87);
        -webkit-box-shadow: 2px 10px 8px -5px rgba(0,0,0,0.87);
        -moz-box-shadow: 2px 10px 8px -5px rgba(0,0,0,0.87);
        -webkit-transform: rotateX(1deg) translateX(0px) translateY(45px);
        -moz-transform: rotateX(1deg) translateX(0px) translateY(45px);
        -ms-transform: rotateX(1deg) translateX(0px) translateY(45px);
        -o-transform: rotateX(1deg) translateX(0px) translateY(45px);
        transform: rotateX(1deg) translateX(0px) translateY(45px);
        position: absolute;
        bottom: 30%;
      }
    

    .content_basket{
        bottom: 0%
    }

}

    /************ Mobile orientation landscape*******/




/******** Tablet */
@media only screen and  (min-width:577px) and (orientation: portrait){

    .foward_UIlist_to_UImain{
        width: 13%;
        height: 6%;
        top: 2%;
        left:3%;
        position: absolute;
    }
    .foward_uiList_to_uiMain___btn{
        width: 33%;
        height: 80%;
    }

    .content_basket{
        bottom: 0%
    }

    .form_note{
        width: 100%;
    }

    .style_form_dektop___content_input,.style_form_dektop___content_select{
        width: 100%;
    }


    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
        color: var(--color-font);
        width: 100%;
    }  

    

    .mainSection{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
    }
    
    .forwardButton, .buttons{
        display:none;
    }  
    .form_login {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .content_input_style{
        display: flex;
        width: 50%;
    }
 
    .options_list{
        display: flex;
        flex-direction: column
    }


    .welcomeUser{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        
    }


    .contenido3{
        width: 70%;
    }

    .content_basket{
        width: 15%;
        height: 10%;
        bottom: -7%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .ul_list_products{
        width: 76%;
        display: flex;
        align-items: center;
        height: 83%;
    }

    .list_products{
        width: 100%;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
        background-color: var(--color-list);            color: var(--color-font);
        filter: drop-shadow(6px 5px 7px #000); 
        border-radius: 3%;
        margin: 0 0 7.5% 0;       

    }

    .contenido3__icono{
        width: 24%;
        margin-right: 15%;
    }

    .buttons{
        display: flex;
        width:65%;
        justify-content:space-evenly;
        padding: 1%;
        align-items: center;
    }

    .buttons-size {
        width:90%;
        margin: 5%;
        height: 70%;
    }

    .contenido4{
        width: 69%;
        height: 75%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content_forwardButtonToListUi{
        width: 90%;
        height: 12%;
        padding: 2%;
        justify-content: flex-start;
        align-items: center;
    }

    .card_product{
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        justify-content: center;
    }
    .contenido4__icono{
        width: 51%;
        height: 40%;
    }


    .content_btn_foward{
        width: 90%;
        margin-top: 2%;
    }
    .forwardButton{
        width: 5%;
        height: 66%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .style_btns{
        width: 20%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media only screen and (max-width:990px) and (orientation: landscape) {

    .forwardButton{
        height: 92%;
    }
    .content_forwardButtonToListUi{
        height: 15%;
        width: 65%;
        
    }

    .btn_delete, 
    .btn_edit{
        width: 52%;
    }
    
    header{
        width: 100% !important;
        height: 22vh !important;
        background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);
        color: var(--color-font);
        display: flex;
        justify-content: center;
        align-items: center;   

    }
    .mainSection{
        width: 100%;
        height: 78vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    .log_out_user___icon{
        height: 10.9vh
    }

    .eye,
    .basquet_trash{
        height: 13vh  
    }

    .options_list{
        padding: 0%;
        height: 30%;
        width: 26rem;
    }

    #btncarga1{
        width: 5.9rem;
        height: 5.9rem;
    }

    .contenido3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 88%;

    }

    .ul_list_products{
        height: 50%;
        width: 46%;

    }

    .list_products{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem !important;
    
    }

    .contenido3__icono{
        width: 23%;
        height: 100%;
    }

    .foward_UIlist_to_UImain{
        width: 55%;
        align-items: center;
        justify-content:flex-start;
        height: 20%;
        position:absolute;
        top:3%; 
    }

    .content_basket{
        width: 6%;
        height: 17%;
        top: 90%;
    }

    .contenido4{
        width: 60%;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        padding: 1%;
    }

    .card_product{
        width: 41%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--color-card-product);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        height: 100%;
        padding: 1%;
    }

    .contenido4__icono{
        width: 80%;
    }

    }


    /***** Large Screen ****/

@media only screen and (min-width: 991px)  { 

    .buttons{
        width: 80%;
        height: 13%;
        justify-content: space-around;
        align-items: center;
    }
    
    #form_note{
        display: flex;
    }

    *{
        font-size:1.02em;
        font-family: var(--font-type);
    }
    img{
        width: 13%;
    }

    .log_out_user___icon{
        width:90%;
    }

    .sectionNameUser{
        align-items: flex-start;
    }

    .basquet_trash{
        width: 80%;
    }

    .list_products {
        background-color: var(--color-list);
        color: var(--color-main);
        filter: drop-shadow(6px 5px 7px #000);
        border-radius: 3%;
        margin: 0 0 7.5% 0 !important;
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 15%;
        width: 90%;
    }

    .contenido3__icono{
        width: 20%;
        max-width: 11%;
        min-width: 16%;
    }

    .form_desktop{
        height: 100%;
        width: 90%;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 0.1em solid rgba(0, 0, 0, 0.4);
    }



    .style_btns{
        width: 27%;
        height: 70%;
    
    }

    .style_form_dektop{
        flex-direction: column;
        width: 100%;
        height: 72%;
        align-items: flex-start;
        justify-content: center;
    }

 

    .eye{
        display:none;
    }

  
    .form_login {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:30vh;
        }
    #btncarga1{
        display:none;
    }    

        .contenido4{
            display:none;
        }
        
        .header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
            color: var(--color-font);
            width: 100%;
            height: 12vh;
        }   
        .mainSection{
            width: 100%;
            height: 88vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }


        .list_products:hover{
            width: 95%;
            -webkit-transition: width 0.5s ease;
            -moz-transition: width 0.5s ease;
            -ms-transition: width 0.5s ease;
            -o-transition: width 0.5s ease;
            transition: width 0.5s ease;        }

        .content_btn_foward{
            display:none;
        }
        
        .ul_list_products{
            width: 91%;
            height: 98%;
            margin: 0%;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            bottom: 4%
        }
        
        li{
            color: var(--color-3);
            font-size: 1.3rem;
            text-align: left;
            display:none;
        }
        .contenido3{
            display: flex;
            width: 34%;
            justify-content:center;
            height: 85%;
            padding: 0;
            align-content: center;
            border-left: 0.1em solid rgb(0, 0, 0,0.9);
        }

        .modal-body-style{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;  
            border-radius: 2%;
            width: 100%;
        }
        .modal-edit-style{
            border-radius: 0%
        }
        .options_list{
            flex-direction: column;
            align-items: center;
            height: 20%;
            padding: 1%;
            width: 39%;
            justify-content: center;
        }

        .form_ui_desktop{
            background-color: var(--color-3);
            display:block;
            width: 50%;
            height: 100%;
            display:none;
        }
      

        .section_contenido1{
            display:flex;
            flex-direction:row;
            width: 67%;
            height: 100%;
        }
         .content_input_style{
            display: flex;
            width:30%;
            height:15%;
        }

        .modal_mobile{
            display: none;
        }

        /*********************** */
        .contenido4{
            flex-direction: column;
            width: 32%;
            height: 84%;
            justify-content: flex-start;
            align-items: center;
            border-left: 0.1em solid rgb(0, 0, 0,0.9);
        }
        .card_product{
            border-radius: 3%;
            width: 80%;
            height: 58%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: var(--color-card-product);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
            margin: 12.3% 0 0 0;
        }
        .contenedor{
            display: none;
        }
        .foward_UIlist_to_UImain{
            display: none;
        }
        .forwardButton{
            width: 6%;
            height: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content_forwardButtonToListUi {
            width: 100%;
            height: 10%;
            align-items:flex-start;

    }
    .contenido4__icono{
        width: 51%;
        height:36%
    }
 

    /* Style Notifications */

    .notifications{
        width: 100%;
        justify-content: flex-end;
        height: 12vh;
        align-items: center;
        position: absolute;
        margin: 1% 0 0 0;
        justify-content: center;
        top: -8%;
    }
    

    .content_notification{
        width: 33%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        }
    .content_basket{
        bottom: -10%;
    }

    }




    