:root{
    --color-main:#0a043c;
    --color-2: rgb(162, 221, 202,0.4);
    --color-3: rgb(3, 80, 111,0.7);
    --color-font: rgb(255, 227, 222);
    --color-link:rgb(91, 99, 183,0.7);
    --color-list:rgb(109, 166, 148);
    --color-div-notifications:rgb(222, 235, 225,1);
    --color-font-edit:rgb(109, 166, 148);

    --font-type:'Fira Sans', sans-serif;

}
body {
    background-color: var(--color-2)
}

.form_ui_desktop{
    display: none;
}
/************ Mobile *******/

@media only screen and (max-width: 600px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }


    .mainSection{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content1{
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;

    }

    .buttons-size{
        width:40%;
        height:90%;
    }

    li{
        margin: 0 0 3% 0;
    }

    a{
        text-decoration: none;
        color: var(--color-link);
    }
    
    .sectionNameUser, .link_list{        
        width:80%;
        text-align: center;
        justify-content: center;
    }
    .link_list{
        margin: 10% 0 0 0;
        font-size: 140%;
    }
    .content_btn_foward{
        width: 95%;
        display:none;
        height:13%;
    }

  

     .btn_options {
        width: 60%;
        height:70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20%;
    }
    .arrow{
       color: var(--color-font);
    }

    .link_list{
        display:none;
    }

    .welcomeUser{
        color: var(--color-main)
    }



        
        .buttons___child{
            display:flex;
            flex-direction: row;
            width: 40%;
            height:20%;
        }

        .buttons{
            width: 95%;
            height: 8vh;
            flex-direction: row;
            justify-content: center;
            gap: 30%;
            align-items: center;
        }

        


        .inputs{
            display:none;
        }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
        color: var(--color-font);
        width: 100%;
        height: 15vh;
    }   

    .boxtitle{
        width: 900px;
        text-align: center;
        padding: 5px;
        order: 0;
        flex: 0 1 auto;
        align-self: center;
    }

    p{
        color: var(--color-main);
        font-size: 30px;
        text-align: center;

    }
    .list_products{
        background-color: var(--color-list);
        color: var(--color-font);
        filter: drop-shadow(6px 5px 7px #000); 
        border-radius: 3%;
        margin: 0 0 7.5% 0;       
}

    .options_list{
        display:flex;
        flex-direction: column;
        padding:10%;
        width:80%;
        height:30%;
        align-items: center;
        justify-content: space-around;
        
    }

    .ul_list_products{
        margin-top: 5%;
    }

    .btn_edit, .btn_delete{
        width: 20%
    }

    .subtitulo{
        order: 1;
        flex: 0 1 auto;
        align-self: center;
        padding: 10px;
    
    }
    .img{
        order: 2;
        flex: 0 1 auto;
        align-self:center;
    }      
    .contenedor{
        display:none;
        width: 200px;
        height:200px;
        position: absolute;
        order: 3;
        flex: 0 1 auto;
        align-self:flex-end;
        right:0;
        bottom:0;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    
    #btncarga1{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 35px;
        position: absolute;
        border: none;
        right:0;
        bottom:0;
        box-shadow:     12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
            -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;}
            
            .contenido3{
                display:none;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 2%;
            
            }
        #forwardButton{
            width:13%;
            height:60%;
            margin: 1% 0 0 1%;
        }    

        
    
    .btn-primary{
        background: rgb(10,4,60);
        background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);        
        box-shadow: 0 8px 6px -6px black;


    }


.modal-backdrop.show{
    display:none;
}


    .modal-body, .modal-header{
        background: var(--color-2);
        color: var(--color-main);
    }
    .modal-footer{
        background: var(--color-main);
    }
    .form-control2{
        width:100%;
    }

    #detalle{
        border-radius: 5px;
            padding: 0;

    }

    .content_forwardButtonToListUi{
        display: none;
        width: 46%;
        height:40vh;

    }

    #forwardButtonToListUi{
        width: 30%;
        height:45%;
    }

    .contenido4{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 52vh;
        padding: 1%;
        margin-top: 1%;
        font-size: 100%;
        
        }

        .btns-options{
            display:flex;
            width:40%;
            height:40%;
            justify-content:space-around;

        }


       
    .card_product{
        width: 100%;
        height:83%
    }

 
.eye{
    width:64px;
    height:64px;
}



.form_login .content_input_style{
    display: flex;
    width:100%;
    height:100%;
}

/* *********************** */





.section_contenido1{
    display:none;
    width: 50%;
    height: 40vh;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}



    li{
    color: var(--color-3);
    font-size: 25px;
    text-align: left;
    }

    .contenido3__icono{
    width: 70px;
    margin-right: 20px;
    
    }

    .content_data_notes{
        width: 50%;
        height:50%;
    }



    #subtitulofinal{
        color: var(--color-main)
    }


    .contenido4__icono{
    width: 150px;
    }

    .desktop, .contenido4{
    display: none;
    
    }
       /*****Notifications*******/
    
    .edit_color_font{
        color: var(--color-font-edit)
    }

    .notifications{
        display: none;
        position: absolute;
        width:100%;
        height:10vh;
        justify-content: center;
        align-items: center;
    }

       .content_notification{
        display:hidden;
        background-color: var(--color-div-notifications);
        width: 70%;
        height:100%;
        border-radius:5%;
        display:flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 10px 8px -5px rgba(0,0,0,0.87);
        -webkit-box-shadow: 2px 10px 8px -5px rgba(0,0,0,0.87);
        -moz-box-shadow: 2px 10px 8px -5px rgba(0,0,0,0.87);    }

    .save_ok, .delete_ok{
        color: rgb(0, 128, 0, 0.7);
        font-weight: bold;
        font-size: 100%;
    }

    .error_notifications{
        color: red;
        font-weight:800;
        font-size: 100%;

    }

    #notification_save_data{
        display: flex;
    } 
    #notification_delete_data{
        display: none;
    }



}

/* ******* */


/************** TABLET  */
    
@media only screen and (max-width: 768px){

.header{
        background-color: var(--color-2)
    
}


}

/* ******* */


    /* *********LAPTOP *******/

    @media only screen and (max-width: 992px){
        .header{
            background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
        }
        .header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
            color: var(--color-font);
            width: 100%;
            height: 15vh;
        }  
     
    }

    /*********************** */
    
    /*********************** */
    
    /***** Large Screen ****/

@media only screen and (min-width: 1200px){

    body{
        background: var(--color-2);
        letter-spacing: 1px;
        font-family: var(--font-type);
    }
    .form_login {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        height:30vh;
        }

        .contenido4{
            display:none;
        }
        
        .header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            background: linear-gradient(0deg, rgba(10,4,60,1) 36%, rgba(3,80,111,1) 100%);    
            color: var(--color-font);
            width: 100%;
            height: 15vh;
        }   
        .mainSection{
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: var(--color-font);
        }


        .content_btn_foward{
            display:none;
        }
        li{

            color: var(--color-3);
            font-size: 100%;
            text-align: left;
            display:none;
        }
        .contenido3{
            width: 50%;
            justify-content:center;
        }
        .form_ui_desktop{
            background-color: var(--color-3);
            display:block;
            width: 50%;
            height: 100%;
            display:none;
        }
        .modal-footer, .modal-body{
            background-color: var(--color-3);
        }
        .mb-3{
            display:grid;
        }
        .section_contenido1{
            display:flex;
            flex-direction:column;
        }
        .form_login .content_input_style{
            display: flex;
            width:50%;
            height:15%;
        }

    }
        /*********************** */
